<center>
    <h2>
        CHƯƠNG 3: HỌC CÓ GIÁM SÁT
    </h2>
    <h3>Phần 0: Phân loại dữ liệu và bài toán</h3>
</center>


---
***Nội dung bài học***
1. Tìm hiểu cac tập dữ liệu mẫu; xac định biến độc lập X và biến phụ thuộc y
2. Xác định thuật toán học có giám sát và ứng với tập dữ liệu

## Bài toán 1: Tập dữ liệu titanic
---
xây dựng một mô hình học máy dự đoán khả năng một hành khách đi tàu có được cứu hay không nếu xảy ra sự cố dựa vào các thông tin liên quan đến hành khách

In [2]:
# import thư viện
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Đọc dữ liệu titanic
data_titanic = pd.read_csv('Data/Data_Titanic.csv')
data_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   int64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Embarked  1307 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 71.7+ KB

In [4]:
data_titanic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

## **Xác đinh biến đầu vào X và biến đầu ra y**

---
- Biến đầu vào (X - biến độc lập):
     * Pclass: Hạng vé
     * Sex: Giới tính
     * Age: Độ tuổi
     * SibSp: Số lượng anh/chị/em/vợ/chồng đi cùng
  * Parch: Số lượng con cái đi cùng
  * Embarked: Cảng lên tàu
- Biến đầu ra  (y - biến phụ thuộc):
   * Survived: hành khách được cứu (1) | hay không được cứu (0)
   
 
 ----
 -> Tập dữ liệu titanic là tập dữ liệu có gán nhãn (Nhãn y - Thuộc tính Survived)

In [5]:
# Khảo sát biến phụ thuộc:
data_titanic['Survived'].value_counts()

0    815
1    494
Name: Survived, dtype: int64

**Nhận xét**
---
- Biến phụ thuộc y là rời rạc và hữu hạn
- y chỉ nhận tối đa hai giá trị khác nhau (chỉ nhận 0 hoặc 1)

## ***KẾT LUẬN***
===> BÀI TOÁN TITANIC: THUỘC LỚP HỌC CÓ GIÁM SÁT ---> Phân loại (Nhị phân)

## Bài toán số 2: tập dữ liệu Iris
---
Xây dựng một mô hình học máy có khả năng dự đoán một bông học lan thuộc loại hoa lan nào dựa vào thông tin chiều dài và chiều rộng của cánh hoa và đài hoa

In [6]:
# Đọc dữ liệu Data_Iris.csv
data_iris = pd.read_csv('Data/Data_Iris.csv')
data_iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
data_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
data_iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width          species
16            5.4          3.9           1.3          0.4      Iris-setosa
95            5.7          3.0           4.2          1.2  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica
75            6.6          3.0           4.4          1.4  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor

**XÁC ĐỊNH BIẾN ĐẦU VÀO X VÀ BIẾN ĐẦU RA y**

---
- Biến đầu vào X (Biến độc lập): gồm 4 thuộc tính
  * sepal_length: Chiều dài cánh hoa
  * sepal_width: Chiều rộng cánh hoa
  * petal_length: Chiều dài đài hoa
  * petal_width	: Chiều rộng đài hoa
 - Biến đầu ra y (Biến phụ thuộc): Gồm 1 thuộc tính
  * species: Hoa lan thuộc loài hoa nào
 --> Tập dữ liệu là tập dữ liệu có gán nhãn (Nhãn y - Thuộc tính species)

In [9]:
# Tìm hiểu biến phụ thuộc y
data_iris['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

**NHẬN XÉT:**

- Biến phụ thuộc y là biến hữu hạn và rời rạc
- Biến y có 3 giá trị khác nhau: Iris-setosa | Iris-versicolor | Iris-virginica

### KẾT LUẬN:
LÀ BÀI TOÁN HỌC CÓ GIÁM SÁT: PHÂN LOẠI (phân loại đa lớp)

## Bài toán số 3: Tập dữ liệu kim cương
---
Xây dựng một mô hình học máy có thể dự đoán giá một viên kim cương khi ta biết trọng lượng của nó

In [20]:
# Đọc dữ liệu 
data_diamond = pd.read_csv('Data/Data_Diamond.csv')
data_diamond.head(5)

   Weight(Carat)  Price(USD)
0           0.23         484
1           0.31         942
2           0.20         345
3           1.02        4459
4           1.63       14022

In [11]:
data_diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Weight(Carat)  50 non-null     float64
 1   Price(USD)     50 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 928.0 bytes

In [12]:
data_diamond.sample(5)

    Weight(Carat)  Price(USD)
36           2.05       12654
46           0.75        3120
26           0.55        1319
47           1.07        5220
30           1.52       10640

**XÁC ĐỊNH BIẾN ĐẦU VÀO X VÀ BIẾN ĐẦU RA y**

- Biến đầu vào X: 01 thuộc tính
    * Weight(Carat): Trọng lượng viên kim cương
- Biến đầu ra y: 01 thuộc tính
    * Price(USD): giá bán viên kim cương

--> Tập dữ liệu có gán nhãn (Nhãn y - thuộc tính price)

In [13]:
# Quan sát biến phụ thuộc y
data_diamond['Price(USD)'].describe()

count       50.000000
mean      7550.780000
std       5038.766934
min        345.000000
25%       3560.750000
50%       6796.000000
75%      11452.500000
max      18531.000000
Name: Price(USD), dtype: float64

**NHẬN XÉT**

- Biến phụ thuộc y là vô hạn các giá trị

### KẾT LUẬN:
bài toán học có giám sát : thuộc hồi quy

## Bài tập về nhà: 

*sinh viên thực hiện tương tự cho hai tập dữ liệu còn lại*

- data_Comment.csv
- data_Housing.csv

## Bài toán số 4: Tập dữ liệu Data_Comment.csv

In [14]:
data_comment = pd.read_csv('Data/Data_Comment.csv')
data_comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14477 entries, 0 to 14476
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comment    14477 non-null  object
 1   Sentiment  14477 non-null  object
dtypes: object(2)
memory usage: 226.3+ KB

In [15]:
data_comment.head()

                                             Comment Sentiment
0                @VirginAmerica What @dhepburn said.   neutral
1  @VirginAmerica plus you've added commercials t...  positive
2  @VirginAmerica I didn't today... Must mean I n...   neutral
3  @VirginAmerica it's really aggressive to blast...  negative
4  @VirginAmerica and it's a really big bad thing...  negative

In [16]:
data_comment.sample(5)

                                                 Comment Sentiment
6774   @JetBlue I did see that! Working on picking up...  positive
4694       @SouthwestAir Awesome. Thanks! You guys rock!  positive
4111   @united A 3rd party service you use to sell yo...  negative
7733   @JetBlue no, we are at a hotel.  Also, Jetblue...  negative
13429  @AmericanAir a school trip of 38 including mys...  negative

In [17]:
data_comment.describe()

               Comment Sentiment
count            14477     14477
unique           14401         3
top     @united thanks  negative
freq                 6      9080

In [18]:
data_comment['Sentiment'].describe()

count        14477
unique           3
top       negative
freq          9080
Name: Sentiment, dtype: object

In [19]:
data_comment['Sentiment'].value_counts()

negative    9080
neutral     3060
positive    2337
Name: Sentiment, dtype: int64

**XÁC ĐỊNH BIẾN ĐẦU VÀO (X) VÀ BIẾN ĐẦU RA (y)**

---
- Biến đầu vào X (Biến độc lập): gồm 1 thuộc tính
    * Comment: các kiểu comment
 - Biến đầu ra y (Biến phụ thuộc): Gồm 1 thuộc tính
    * Sentiment: Cho biết kiểu comment đấy là kiểu comment gì
 --> Tập dữ liệu là tập dữ liệu có gán nhãn (Nhãn y - Thuộc tính Sentiment)

**KẾT LUẬN:**
- Data_Comment là kiểu tập dữ liệu học có giám sát
- Trong đó biến đầu ra - biến phụ thuộc y là biến Hữu hạn và Rời rạc

--> Bài toán học có giám sát: Phân loại đa lớp

## Bài toán số 5: dữ liệu Data_Housing.csv

In [21]:
data_house = pd.read_csv('Data/Data_Housing.csv')

In [22]:
data_house.head(5)

,area,bedrooms,bathrooms,mainroad,guestroom,basement,parking,furnishingstatus,price
0,7420,4,2,yes,no,no,2,furnished,13300000
1,8960,4,4,yes,no,no,3,furnished,12250000
2,9960,3,2,yes,no,yes,2,semi-furnished,12250000
3,7500,4,2,yes,no,yes,3,furnished,12215000
4,7420,4,1,yes,yes,yes,2,furnished,11410000

**XÁC ĐỊNH BIẾN ĐẦU VÀO X VÀ BIẾN ĐẦU RA y**

---
- Biến đầu vào X (Biến độc lập): gồm 8 thuộc tính
    * area: diện tích căn hộ
    * bedrooms: số phòng ngủ
    * bathrooms: số phòng tắm 
    * mainroad: có gần đường chính không
    * guestroom: Có phòng khách không
    * basement: Có tầng hầm không
    * parking: chỗ đỗ xe có thể để tối đa là bao nhiêu
    * furnishingstatus: Tình trạng nội thất
 - Biến đầu ra y (Biến phụ thuộc): Gồm 1 thuộc tính
  * price: Giá bán của căn hộ đấy
 --> Tập dữ liệu là tập dữ liệu có gán nhãn (Nhãn y - Thuộc tính species)

**Nhận xét**

- do biến đầu vào X là biến rời rạc và hữu hạn nên đây là mô hình học máy có giám sát.
- Và thuộc kiểu biến đa tầng